/* Button CSS */
#Button {
    border-radius: 10px;
    background-color: var(--background-lightest);
}

#Button:hover {
    cursor: pointer;
    filter: invert(1);
    border-color: black;
    background-color: black;
    transition: 0.1s all ease-in-out;
}