/* Navigation CSS */
#Navigation {
    top: 0%;
    left: 0%;
    gap: 20px;
    width: 100%;
    font-size: 20px;
    position: fixed;
    margin-top: 20px;
}

#Navigation a {
    text-decoration: none;
    transition: 0.1s all ease-in-out;
}

#Navigation a:hover {
    color: var(--primary);
    transition: 0.1s all ease-in-out;
}