/* RepoButton CSS */
#RepoButton {
    right: 1%;
    bottom: 0%;
    direction: ltr;
    position: fixed;
}

#RepoButton:hover {
    cursor: pointer;
    color: var(--special-color);
    transition: all ease-in-out 0.1s;
}