/* SolarDecal CSS */
#SolarDecalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#SolarDecal {
    z-index: -1;
    opacity: 25%;
    position: fixed;
    animation: roll 240s linear infinite;
}

@keyframes roll {
    0% {rotate: 0deg}
    100% {rotate: 360deg}
}