/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html {
    width: 100%;
    height: 100%;

    color: white;
    font-weight: bold;
    user-select: none;
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--background-color);
}

p {
    text-align: center;
}

:root {
    --default-radius: 13px;
    --background-color: #171717;

    --special-color: #c41339;
    --special-color-dark: #5f091b;
    --special-color-transparent: rgb(95, 5, 27, 0.10);
}

/* Classes */
.flexbox-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-border {
    box-shadow: 10px 10px 5px black;
    border-radius: var(--default-radius);
    background-color: var(--background-color);
    border: 3px dashed rgb(255, 255, 255, 0.25);
}

.special-text {
    font-style: italic;
    color: var(--special-color);
}

.fade-in {
    animation: fade-in linear 0.5s;
}

/* Specific */
#aboutTitle {
    margin: 0;
    font-size: 35px;
}

#aboutDescription {
    width: 600px;
}

/* Keyframes */
@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}